# Neighhborhood Battle
### -Tanay Tewar

### Week 1- Initial notebook

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [100]:
print(' Hello Capstone Project Course!')

 Hello Capstone Project Course!

### Week 3 Part 1- Scraping and cleaning data of neighborhoods in toronto, canada

In [101]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
toronto = pd.read_html(url, header=0)
toronto_df=toronto[0]
toronto_df=toronto_df.groupby(toronto_df['Postal Code']).sum()
toronto_df

                  Borough                                      Neighbourhood
Postal Code
M1A          Not assigned                                       Not assigned
M1B           Scarborough                                     Malvern, Rouge
M1C           Scarborough             Rouge Hill, Port Union, Highland Creek
M1E           Scarborough                  Guildwood, Morningside, West Hill
M1G           Scarborough                                             Woburn
...                   ...                                                ...
M9V             Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
M9W             Etobicoke                Northwest, West Humber - Clairville
M9X          Not assigned                                       Not assigned
M9Y          Not assigned                                       Not assigned
M9Z          Not assigned                                       Not assigned

[180 rows x 2 columns]

In [102]:
toronto_df=toronto_df[toronto_df['Borough']!='Not assigned']
toronto_df

                 Borough                                      Neighbourhood
Postal Code
M1B          Scarborough                                     Malvern, Rouge
M1C          Scarborough             Rouge Hill, Port Union, Highland Creek
M1E          Scarborough                  Guildwood, Morningside, West Hill
M1G          Scarborough                                             Woburn
M1H          Scarborough                                          Cedarbrae
...                  ...                                                ...
M9N                 York                                             Weston
M9P            Etobicoke                                          Westmount
M9R            Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
M9V            Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
M9W            Etobicoke                Northwest, West Humber - Clairville

[103 rows x 2 columns]

- Dataframe has been grouped by postal code
- Only those niegnbourhoods are taken which ahve a borough assigned
- Neighbourhoods with sam epostal code are written together, seperated by a comma

In [103]:
toronto_df.shape

(103, 2)

### Week 3 Part 2 -  Adding latitude and longitude

In [76]:
!pip install geocoder

^C

In [104]:
toronto_df.reset_index(level=0, inplace=True)

In [105]:
toronto_df

,Postal Code,Borough,Neighbourhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

In [106]:
toronto_df.columns

Index(['Postal Code', 'Borough', 'Neighbourhood'], dtype='object')

In [107]:
toronto_df.to_csv("Neighborhood_data.csv")

In [108]:
toronto_coord=pd.read_csv('Geospatial_Coordinates.csv')
toronto_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [109]:
toronto_df=toronto_df.merge(toronto_coord, how='inner', on='Postal Code')
toronto_df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [111]:
toronto_df.shape

(103, 5)

### Week 3 Part 3 - Data analysis and clustering

In [113]:
toronto_df.dtypes

Postal Code       object
Borough           object
Neighbourhood     object
Latitude         float64
Longitude        float64
dtype: object